@model   Practical10A_NEW.Models.Student
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DisplayData</title>
</head>
<body>
    <div>
        <h1>Student Details</h1>
        <p>Student Id: @Model.Id</p>
        <p>Student Name: @Model.Name</p>
        <p>Student Email: @Model.Email</p>
    </div>
</body>
</html>




